$icons-border-color: #eee;
$icons-bg-hover: hsl(223, 87%, 63%);
$color-primary: hsl(0, 0%, 59%);

footer {
    margin: 4.375rem 0 3rem;
    text-align: center;
    .socials {
        margin: 0 0 1.375rem;
        display: flex;
        justify-content: center;
        gap: .8125rem;
        a {
            width: 1.875rem;
            height: 1.875rem;
            border: .0625rem solid $icons-border-color;
            border-radius: 50%;
            display: grid;
            place-items: center;
            &:hover {
                background: $icons-bg-hover;
                & g {
                    fill: #ffffff;
                }
            }
        }
    }
    small {
        font-size: .75rem;
        color: $color-primary;
    }
}

@media(max-width: 650px) {
    footer {
        margin: 7.1875rem 0 3rem;
        small {
            font-size: .625rem;
        }
    }
}