$color-primary: hsl(0, 0%, 59%);
$color-secondary: hsl(209, 33%, 12%);

.hero {
    text-align: center;
    h1 {
        color: $color-primary;
        margin: 2.8125rem 0 0;
        font-size: 3rem;
        font-weight: 300;
        span {
            font-weight: 700;
            color: $color-secondary;
        }
    }
    p {
        margin: .9375rem 0 0;
        color: $color-primary;
        font-size: 1.25rem;
    }
    img {
        margin: 5.3125rem 0 0;
        width: 40rem;
    }
}

@media(max-width: 650px) {
    .hero {
        h1 {
            margin: 2.1875rem 0 0;
            font-size: 1.375rem;
        }
        p {
            font-size: .75rem;
        }
        img {
            margin: 2.5rem 0 0;
            width: 20rem;
        }
    }
}