$color-primary: hsl(0, 0%, 59%);
$color-secondary: hsl(209, 33%, 12%);

.hero {
    text-align: center;
    h1 {
        color: $color-primary;
        margin: 45px 0 0;
        font-size: 48px;
        font-weight: 300;
        span {
            font-weight: 700;
            color: $color-secondary;
        }
    }
    p {
        margin: 15px 0 0;
        color: $color-primary;
        font-size: 20px;
    }
    img {
        margin: 85px 0 0;
        width: 640px;
    }
}

@media(max-width: 650px) {
    .hero {
        h1 {
            margin: 35px 0 0;
            font-size: 22px;
        }
        p {
            font-size: 12px;
        }
        img {
            margin: 40px 0 0;
            width: 320px;
        }
    }
}