$input-color: hsl(0, 0%, 93%);
$input-error: hsl(354, 100%, 66%);
$button-bg: hsl(223, 87%, 63%);
$button-bg-hover: hsl(224, 87%, 70%);

form {
    width: 40.625rem;
    margin: 2.5rem auto 0;
    position: relative;
    input {
        width: 26.25rem;
        padding: 1.0625rem 1.75rem;
        font-size: 1rem;
        border: .1875rem solid $input-color;
        border-radius: 1.875rem;
        &.error {
            border: .125rem solid $input-error;
        }
    }
    button {
        width: 12.5rem;
        margin: 0 0 0 .9375rem;
        padding: 1.0625rem 1.75rem;
        background: $button-bg;
        font-size: 1rem;
        font-weight: 600;
        color: hsl(0, 0%, 100%);
        border-radius: 1.875rem;
        cursor: pointer;
        &:hover {
            background: $button-bg-hover;
        }
    }
    small {
        color: $input-error;
        font-size: .75rem;
        font-weight: 600;
        font-style: italic;
        position: absolute;
        bottom: -1.375rem;
        left: 2.1875rem;
    }
}

@media(max-width: 670px) {
    form {
        margin: 2.1875rem auto 0;
        width: 17.5rem;
        min-height: 7.625rem;
        input,
        button {
            width: 100%;
            margin: 0;
            padding: .75rem 1.875rem;
            font-size: .75rem;
        }
        button {
            margin: .625rem 0 0;
        }
        small {
            position: static;
            display: block;
            margin: .3125rem 0 .9375rem;
            font-size: .625rem;
            text-align: center;
        }
    }
}