$font-stack: 'Libre Franklin', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-stack;
}

input,
button {
    border: none;
    font-family: $font-stack;
}